@import "../../styles/rafiki-styles.scss";

.menu__list {
  font-family: $font-family;
  color: $white;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
