// Base colours
$white: #ffffff;

$apple-hero-pink: #ffe5db;

$black-light: #484848;
$black-medium: #272727;
$black-dark: #000000;

$blue-light: #a1cde8;
$blue-medium: #449cd1;
$blue-dark: #1684c6;

$red-light: #ff8b70;
$red-medium: #ff5b35;
$red-dark: #e04b29;

$green-light: #66ff66;
$green-medium: #33cc33;
$green-dark: #009933;

$yellow-light: #ffda72;
$yellow-medium: #ffc300;
$yellow-dark: #aa892f;

$gray-light: #f8f8f8;
$gray-medium: #bdbdbd;
$gray-dark: #7c7c7c;
