// Fonts
$font-family: "Amatic SC", cursive;
$font-family-titles: "ITC Avant Garde Gothic W05 Dem";
$font-family-sub-titles: "ITC Avant Garde Gothic W05 Boo";

// Typography
$regular: 400;
$bold: 600;

// Line heights
$lineHeightRegular: 2.4rem;
