// Fonts
$font-family: "Open Sans", sans-serif;
$font-family-titles: "ITC Avant Garde Gothic W05 Dem";
$font-family-sub-titles: "ITC Avant Garde Gothic W05 Boo";
$header-font: "Indie Flower", cursive;

// Typography
$regular: 400;
$bold: 600;

// Line heights
$lineHeightRegular: 2.4rem;
