// Text alignment
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

// Flexbox
.flex.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-item {
  flex: 1;
}
.flex-center {
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

//Dimensions
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
