@import "../../styles/rafiki-styles.scss";

.siteLogo {
  background-color: $black-dark;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.siteLogo__image {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
}

.siteLogo__text {
  font-family: $header-font;
  font-size: 2rem;
  color: $apple-hero-pink;
}
